
body,div,h1,h2,h3,form,input,span,article,button,i
p,section,aside,figure,figcaption,img,footer,ul,li,nav
a,header,table,thead,tr,th,td,tbody,footer,*
{
  vertical-align: baseline;
  font-size: 100%;
  padding : 0;
  margin: 0;
  border: 0;
}
