html, body, div, span,
p, a, img, li, form, input,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header,
nav, section {
	vertical-align: baseline;
	font-size: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}
